body {
	
	background: url("http://cdn.artofthetitle.com/assets/resized/sm/upload/8o/la/zi/lr/got_map-0-1280-0-1024.jpg") no-repeat center center;
	background-size: cover;
	
	}

#middle {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: tan;
	padding:10px;
}

.jumbotron{
	margin-top: 0px;
	margin-bottom: 10px;
	border-radius: 10px 10px;
	background: url("https://i.ytimg.com/vi/iN8PKcNGcuI/maxresdefault.jpg") no-repeat center center;
}

.container{
	height: 200px;
}

h1 a{
	width: 30%;
	top: 10px;
	text-shadow: 5px 5px 5px;
}

h2 {
	text-align: center;
	font-family: 'Eagle Lake', cursive;
	font-size: 45px;
}

#bannersWon{
	height: 150px;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	margin-left: 20px;
}

h3 {
	text-align: center;
	font-family: 'Eagle Lake', cursive;
}

#bannerHolder {
	margin: 0px;
	text-align: center;
}

#banner {
	height: 400px;
}

#wordArea {
	margin: 0px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
}

.flip {
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
   position: relative;
}

.flip .card.flipped {
  transform:rotateY(-180deg);
  -ms-transform:rotateY(-180deg); /* IE 9 */
  -moz-transform:rotateY(-180deg); /* Firefox */
  -webkit-transform:rotateY(-180deg); /* Safari and Chrome */
  -o-transform:rotateY(-180deg); /* Opera */
}
.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face:hover {
  z-index: 2;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */

}
.flip .card .front {
  z-index: 1;
}
.flip .card .back:hover {
    cursor: pointer;
  	transform:rotateY(-180deg);
 	-ms-transform:rotateY(-180deg); /* IE 9 */
  	-moz-transform:rotateY(-180deg); /* Firefox */
  	-webkit-transform:rotateY(-180deg); /* Safari and Chrome */
  	-o-transform:rotateY(-180deg); /* Opera */

}